<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MEDIA LEARNING</h1>
    <figure>
      <img src="images/333.jpg.png" width="200px" />
      <figcaption>THIS IS THE LOADING SCREEN</figcaption>
      <video src="images/edit.mp4" width="300px" controls></video>
      <figcaption>EDIT OF F1</figcaption>
    </figure>
    <progress></progress>
    <p>THIS IS THE LOADING SCREEN OF THE GAME</p>
  </body>
</html>
